.#{$namespace}-factoid {
    padding:0px;
    margin: 0px;
    .greenish {
        background-color:#B5DE92; 
        padding: 24px;
    }
    p.call {
        font-size: 24px; 
        margin-bottom: 15px;
        margin-top: 0px;
    }
    p.link {
        margin-top:0;
        margin-bottom: 0;
        a {
            color:#13598E;
        }
    }
}