// Find name for this component
.#{$namespace}-factoid {
    padding:24px;
    .greenish {
        background-color:#B5DE92; 
    }
    p.call {
        font-size: 24px; 
        margin-bottom: 15px;
    }
    p.link {
        margin-top:0;
        a {
            color:#13598E"
        }
    }
}

  