
.#{$namespace}-factoid {
  // We can continue to add variations here
  // All we have to do is update the background color
  &.factoid-green {
      background-color:#B5DE92; 
  }
  padding: 24px;
  margin: 0px;
  .factoid-text {
      font-size: 24px; 
      margin-bottom: 15px;
      margin-top: 0px;
  }
  .factoid-link {
      color:#13598E;
  }
} 