.#{$namespace}-footer {
  background-color: #141C20;
  color: #ffffff;
  font-size: 10.5pt;
  line-height: 16pt;
  a { color: #fff;
  }
  .container {
    width: 100%;
  }
  .row {
    width: 90vw;
    padding: 0px !important;
    margin-bottom: 0;
  }
}
