.#{$namespace}-header {
  .nav {
    background-color: transparent;
    color: #000000;
    // overflow: hidden;
    height: 52px;
  }
  .nav-link {
    color: #535d62;
  }
  .nav-logo {
    padding: 10px;
  }
  #nav-mobile {
    margin-right: 178px;
  }
  
  .nav-wrapper .dropdown-content {
    top: -64px;
  }
  .nav-wrapper .dropdown-content li {
    background-color: #f1f4f5;
  }
  .nav-wrapper .dropdown-content li > a {
    color: #435864;
  }

  .sidenav-trigger {
    color: #000000;
  }
}
