// Wrap your component in a namespace class
// Use namespace "hw" - hazwaste
// then use component name
// Ex: .#{$namespace}-header === .hw-header
$namespace: "hw";

@import 'base';
@import 'header';
@import 'global-search';
@import 'hero';
@import 'combo-box';
@import 'factoid';
@import 'signup';
// @import 'nav';
@import 'nav2';
@import 'accordion-map';
@import 'cards';
@import 'prefooter';
@import 'footer';