// Wrap your component in a namespace class
// Use namespace "hw" - hazwaste
// then use component name
// Ex: .#{$namespace}-header === .hw-header
$namespace: "hw";

@import '../../node_modules/materialize-css/sass/materialize.scss';
@import 'base';
@import 'header';
@import 'global-search';
@import 'hero';
@import 'combo-box';
@import 'signup';
@import 'accordion-map';
@import 'prefooter';
@import 'footer';