/* Logo */
nav .brand-logo {
  // position: relative;
}

.hw-nav {
  font-family: 'Prompt', sans-serif;
}

.hw-nav li > ul {
  display: none;
}

.show {
  display: block;
}

.hw-nav ul {
  background: #ffffff;
  padding: 0 20px;
  border-radius: 0px;
  list-style: none;
  position: relative;
  *zoom: 1;
  font-size: 0.9375rem;
  font-weight: 500;
}

.hw-nav ul:after {
  content: '';
  clear: both;
  display: block;
}

.hw-nav li {
  float: left;
}

/* first level navigation styles */
.hw-nav ul li:hover {
  background: #f1f4f5;
}

.hw-nav ul li:hover a {
  color: #047786;
}

.hw-nav ul li a {
  display: block;
  padding: 20px 10px 20px 15px;
  color: #666;
  text-decoration: none;
}

/* second level navigation styles */

.hw-nav ul ul {
  background-color: #f1f4f5;
  border-radius: 0px;
  padding: 0;
  position: absolute;
  top: 100%;
}

.hw-nav ul li:hover ul li a {
  color: #666;
}

.hw-nav ul ul li {
  float: none;
  position: relative;
  width: 270px;
}

.hw-nav ul ul li a {
  padding: 14px 0px 14px 10px;
}

.hw-nav ul ul li a:hover {
  background: #e6e9eb;
  color: #666;
}
