.#{$namespace}-prefooter {
  background-color: #b7ebf1;
  padding: 25px 15px;
  .row {
    margin: 0;
    //display: flex;
    justify-content: center;
  }
  .col {
    width: 140px;
    justify-content: center;
  }
 .col a {
    color: #141c20;
  }
  .col i.material-icons {
    display: block;
  }
}
