nav#sub-navigation {
  height: auto;
  line-height: normal;
}
.#{$namespace}-prefooter {
  background-color: #b7ebf1;
  .row {
    margin: 0px;
    justify-content: center;
  }
  .col {
    line-height: 24px;
    justify-content: center;
    padding: 0;
  }
 .col a {
    color: #141c20;
    padding: 24px 0px 12px 0px;
  }
  .col i.material-icons {
    display: block;
  }
  .prefooter-icon {
    display: block;
    margin: auto;
    width: 36px;
    height: 36px;
    margin-bottom: .2em;
  }
}
