.#{$namespace}-safety-tips {
    
    .col {
        display: inline;
    }
    h3 {
      color: #047786;
      margin: 0px auto;
      padding: 0px 0px 30px 0px;
    }
    .col i.material-icons {
      display: block;
    }

    @media only screen and (min-width: 992px) {
        .col {
            display: inline-block;
            vertical-align:top;
            height: 200px;
        }
      }

  }
  