.#{$namespace}-safety-tips {
    
    .row {

    }

    .col {
        display: inline-block;
        vertical-align:top;
        height: 200px;
    }
    h3 {
      color: #047786;
      margin: 0px auto;
      padding: 0px 0px 12px 0px;
    }
    .col i.material-icons {
      display: block;
    }

  }
  