.hw-nav {
  background-color: transparent;
  color: #000000;
}
.hw-nav__link {
  color: #535d62;
}
.hw-nav__logo {
  padding:10px;
}
.hw-navsearch {
  margin-top:10px;
}
.input-field > input[type='search'].hw-navsearch__input {
  height:44px;
  padding-left: 1rem;
  padding-right: 2rem;
  width: calc(100% - 3.5rem);
}
.input-field label.hw-navsearch__label {
  top:-9px;
}
.material-icons.hw-navsearch__icon, .material-icons.hw-navsearch__icon .nav-wrapper, nav .input-field label.active i{
  color: #535d62;
  transition: color .3s;
  
}
.input-field input[type=search]:focus:not(.browser-default)+label i.hw-navsearch__icon {
  color: #000000;

}
nav .input-field input[type=search]+.label-icon {
  left: initial;
  right: 1rem;
}
nav form {
  width: 170px;
}
.nav-wrapper .input-field input[type='search'] {
  background-color: #eaeaea;
  border-radius: 7px;
 
}
.nav-wrapper .input-field {
  visibility: hidden; 
}
@media only screen and (min-width: 992px) {
  .nav-wrapper .input-field {
    visibility: initial;
  }
}
.nav-wrapper .dropdown-content {
  top: -64px;
}
.nav-wrapper .dropdown-content li {
  background-color: #F1F4F5;
}
.nav-wrapper .dropdown-content li>a {
  color: #435864;
}
.sidenav-trigger {
  color: #000000;
}
.hw-combo-box > input[type='text'] {
  background-color:rgba(212, 224, 226, .9);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: #535d62;
  padding: 0px 20px;
  height: 56px;
  width: 150px;
  display: inline-block;
  border-bottom: none;
}

.hw-combo-box > input[type='text']:not(.browser-default):focus:not([readonly]) {
  transition: background-color 0.2s ease;
  background-color:rgba(212, 224, 226, 1);
  border-bottom: none;
  box-shadow: none;
}

.hw-combo-box > input[type='text']:not(:placeholder-shown):not(.browser-default):not([readonly]) {
  background-color:rgba(212, 224, 226, 1);
}

.hw-combo-box input[type='text']::placeholder {
  color: #535d62;
}
.hw-combo-box .select-wrapper {
  display: inline-block;
}
.hw-combo-box .select-wrapper input.select-dropdown {
  border-bottom: none;
}


.hw-combo-box .select-wrapper input.select-dropdown:focus {
  border-bottom: none;
}

.hw-combo-box .select-wrapper .select-dropdown.dropdown-trigger {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  width: 100px;
  height: 56px;
}
.hw-combo-box .select-wrapper .caret {
  z-index: 1;
  bottom: 9px;
}

.hw-combo-box .btn {
  height: 56px;
  background-color: #275aa8;
  border-radius: 0 8px 8px 0;
  display: inline-block;
  margin-top: -4px;
}
.hw-combo-box .btn i {
  padding-top: 5px;
}

@media only screen and (min-width: 992px) {
  .hw-combo-box > input[type='text'] { 
    width: 300px;
  }
  .hw-combo-box .select-wrapper .select-dropdown.dropdown-trigger {
    width: 161px;
  }
}

.hw-prefooter {
  background-color: #b7ebf1;
  padding: 25px 15px;
}
.hw-prefooter ul {
  margin: 0;
  display: flex;
  justify-content: center;
}
.hw-prefooter ul li {
  width: 140px;
}
.hw-prefooter ul li a {
  color: #141c20;
}
.hw-prefooter ul li i.material-icons {
  display: block;
}

.hw-footer {
  background-color: #000000;
  color: #ffffff;
}

.collapsible li.active, .collapsible li.active .collapsible-header{
  transition: background-color 0.7s ease;
  background-color: #E3F3E9;
}
