nav {

}

/* fonts */
.dropdowns {
    font-family: 'Prompt', sans-serif; 
}

/* colors */
/* ------ */
/* togle menu button for narrow screens */
.toggleMenu {
    background: #ffffff;
    color: #000000;
}

/* general navigation background colors */
.hw-nav {
     background: #ffffff;
}

/* general navigation link font color */
.hw-nav a {
    color:#666;
}

/* first level items borders */
.hw-nav > li {
	background-color: #ffffff;
	padding: 0px 0px 0px 0px;
}

/* first level items borders */
.hw-nav > li:hover {
	background-color: #F1F4F5;

}

/* navigation hover colors */
.hw-nav > li:hover a {
	color: #047786;
}

/* navigation hover colors */
.hw-nav a:hover {
	background-color: #E6E9EB;
}

/* second level navigation colors */
.hw-nav li li a {
	background-color: #F1F4F5;
	padding: 14px 0px 14px 10px;
}

/* second level navigation colors */
.hw-nav li:hover li a {
    color:#535D62;
}

/* second level navigation colors */
.hw-nav li li:hover a {
    background-color: #E6E9EB;
    color:#535D62;
}

/* third level navigation colors */
.hw-nav li li li a {
background-color: #E6E9EB;
}

/* navigation hover colors */
.hw-nav li li li a:hover {
background-color: #D5DCE0;
}


/* ---------------- */
/*      layout      */
/* -----------------*/

/* main div */
.dropdowns {
	width:auto;
}

/* small screens menu button */
a.toggleMenu {
	padding: 10px 0;
	width:100%;
	text-align: center;
}

/* second and third level menus */
.hw-nav ul {
	width:9em;
}

/* general paddings and other stuff */
.hw-nav a {
	padding: 5px 10px;
}

/* parents that have submenus */
.hw-nav > li > .parent {
	padding-right: 25px;
	background-position: 90% 50%;
}

/* small screen adjustments*/
@media screen and (max-width: 768px) {
	.hw-nav ul {
		width: 100%;
	}
}

.dropdowns nav, .dropdowns ul, .dropdowns li, .dropdowns a  {margin: 0; padding: 0;}

.dropdowns a {text-decoration: none;}

.toggleMenu {
    display:  none;
}

.hw-nav {
    list-style: none;
     *zoom: 1;
       font-size: .9375rem;
       font-weight: 500;
}

.hw-nav:before,
.hw-nav:after {
    content: " "; 
    display: table; 
}

.hw-nav:after {
    clear: both;
}

.hw-nav ul {
    list-style: none;
}
.hw-nav a {
    padding: 20px 45px 20px 15px;
}

.hw-nav li {
    position: relative;
}

.hw-nav > li {
    float: left;
}

.hw-nav > li > .parent {
    background-repeat: no-repeat;
    background-position: right;
}

.hw-nav > li > a {
    display: block;
}

.hw-nav li  ul {
    position: absolute;
    left: -9999px;
}

.hw-nav li li {
    width: 270px;
}

.hw-nav > li.hover > ul {
    left: 0;
}
.hw-nav li li.hover ul {
    left: 100%;
    top: 0;
}
.hw-nav li li a {
    display: block;
    position: relative;
    z-index:100;
}
.hw-nav li li li a {
    z-index:200;
}

@media screen and (max-width: 768px) {
    .active {
        display: block;
    }
    .hw-nav > li {
        float: none;
    }
    .hw-nav > li > .parent {
        background-position: 95% 50%;
    }
    .hw-nav li li .parent {
        background-image: url("images/body/ic_keyboard_arrow_down.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .hw-nav ul {
        display: block;
        width: 100%;
    }
   .hw-nav > li.hover > ul , .hw-nav li li.hover ul {
        position: static;
    }

}