@import url("https://fonts.googleapis.com/css?family=Prompt");
html {
  font-family: Prompt; }

.hw-header .nav {
  background-color: transparent;
  color: #000000;
  overflow: hidden; }

.hw-header .nav-link {
  color: #535d62; }

.hw-header .nav-logo {
  padding: 10px; }

.hw-header .navsearch {
  margin-top: 10px; }

.hw-header .input-field > input[type='search'].navsearch-input {
  height: 44px;
  padding-left: 1rem;
  padding-right: 2rem;
  width: calc(100% - 3.5rem); }

.hw-header .input-field label.navsearch-label {
  top: -9px; }

.hw-header .material-icons.navsearch-icon,
.hw-header nav .input-field label.active i {
  color: #535d62;
  transition: color 0.3s; }

.hw-header .input-field
input[type='search']:focus:not(.browser-default)
+ label
i.navsearch-icon {
  color: #000000; }

.hw-header nav .input-field input[type='search'] + .label-icon {
  left: initial;
  right: 1rem; }

.hw-header nav form {
  width: 170px; }

.hw-header .nav-wrapper .input-field input[type='search'] {
  background-color: #eaeaea;
  border-radius: 7px; }

.hw-header .nav-wrapper .input-field {
  visibility: hidden; }

@media only screen and (min-width: 992px) {
  .hw-header .nav-wrapper .input-field {
    visibility: initial; } }

.hw-header .nav-wrapper .dropdown-content {
  top: -64px; }

.hw-header .nav-wrapper .dropdown-content li {
  background-color: #f1f4f5; }

.hw-header .nav-wrapper .dropdown-content li > a {
  color: #435864; }

.hw-header .sidenav-trigger {
  color: #000000; }

.hw-hero {
  position: relative; }
  .hw-hero .hero-content {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .hw-hero .hero-content h1.hero-title {
      margin-top: 10.8rem; }

.hw-combo-box > input[type='text'] {
  background-color: rgba(212, 224, 226, 0.9);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: #535d62;
  padding: 0px 20px;
  height: 56px;
  width: 150px;
  display: inline-block;
  border-bottom: none; }

.hw-combo-box > input[type='text']:not(.browser-default):focus:not([readonly]) {
  transition: background-color 0.2s ease;
  background-color: #d4e0e2;
  border-bottom: none;
  box-shadow: none; }

.hw-combo-box > input[type='text']:not(:placeholder-shown):not(.browser-default):not([readonly]) {
  background-color: #d4e0e2; }

.hw-combo-box input[type='text']::placeholder {
  color: #535d62; }

.hw-combo-box .select-wrapper {
  display: inline-block; }

.hw-combo-box .select-wrapper input.select-dropdown {
  border-bottom: none; }

.hw-combo-box .select-wrapper input.select-dropdown:focus {
  border-bottom: none; }

.hw-combo-box .select-wrapper .select-dropdown.dropdown-trigger {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  width: 100px;
  height: 56px; }

.hw-combo-box .select-wrapper .caret {
  z-index: 1;
  bottom: 9px; }

.hw-combo-box .btn {
  height: 56px;
  background-color: #275aa8;
  border-radius: 0 8px 8px 0;
  display: inline-block;
  margin-top: -4px; }

.hw-combo-box .btn i {
  padding-top: 5px; }

@media only screen and (min-width: 992px) {
  .hw-combo-box > input[type='text'] {
    width: 300px; }
  .hw-combo-box .select-wrapper .select-dropdown.dropdown-trigger {
    width: 161px; } }

.hw-accordion-map .collapsible li.active,
.hw-accordion-map .collapsible li.active .collapsible-header {
  transition: background-color 0.7s ease;
  background-color: #e3f3e9; }

.hw-prefooter {
  background-color: #b7ebf1;
  padding: 25px 15px; }
  .hw-prefooter ul {
    margin: 0;
    display: flex;
    justify-content: center; }
  .hw-prefooter ul li {
    width: 140px; }
  .hw-prefooter ul li a {
    color: #141c20; }
  .hw-prefooter ul li i.material-icons {
    display: block; }

.hw-footer {
  background-color: #000000;
  color: #ffffff;
  font-size: 10pt; }
  .hw-footer a {
    color: #fff; }
  .hw-footer .container {
    width: 100%; }
  .hw-footer .row {
    width: 90vw;
    padding: 0px !important;
    margin-bottom: 0;
    display: flex; }
