@import url("https://fonts.googleapis.com/css?family=Prompt:200,300,400,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Lora:200,300,400,500,600,700,800");
html {
  font-family: Prompt; }

.hw-header .nav {
  background-color: transparent;
  color: #000000;
  height: 52px; }

.hw-header .nav-link {
  color: #535d62; }

.hw-header .nav-logo {
  padding: 10px; }

.hw-header #nav-mobile {
  margin-right: 178px; }

.hw-header .nav-wrapper .dropdown-content {
  top: -64px; }

.hw-header .nav-wrapper .dropdown-content li {
  background-color: #f1f4f5; }

.hw-header .nav-wrapper .dropdown-content li > a {
  color: #435864; }

.hw-header .sidenav-trigger {
  color: #000000; }

.hw-nav-search form {
  width: 174px;
  margin-top: 10px;
  position: absolute;
  right: 0;
  z-index: 2; }

.hw-nav-search .input-field {
  visibility: hidden; }

@media only screen and (min-width: 992px) {
  .hw-nav-search .input-field {
    visibility: initial; } }

.hw-nav-search .input-field > input[type='search'] {
  height: 44px;
  padding-left: 1rem;
  padding-right: 2rem;
  width: calc(100% - 3.5rem); }

.hw-nav-search .input-field input[type=search]:focus:not(.browser-default) {
  background-color: #F1F4F5; }

.hw-nav-search form:focus-within {
  transition: width 0.3s;
  width: 320px; }

.hw-nav-search .input-field label {
  top: -9px; }

.hw-nav-search .material-icons,
.hw-nav-search .input-field label.active i {
  color: #535D62;
  transition: color 0.3s; }

.hw-nav-search .input-field input[type=search] ~ .material-icons {
  top: -10px;
  transition: none;
  -webkit-transition: none; }

.hw-nav-search form:focus-within .material-icons span {
  visibility: hidden; }

.hw-nav-search .input-field
input[type='search']:focus:not(.browser-default)
+ label
i {
  color: #000000; }

.hw-nav-search .input-field input[type='search'] + .label-icon {
  left: initial;
  right: 1rem; }

.hw-nav-search .input-field input[type='search'] {
  background-color: #E6E9EB; }
  .hw-nav-search .input-field input[type='search']:hover {
    background-color: #D5DCE0; }

.hw-hero {
  position: relative; }
  .hw-hero .hero-content {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .hw-hero .hero-content h1.hero-title {
      margin-top: 10.8rem; }

.hw-combo-box > input[type='text'] {
  background-color: rgba(212, 224, 226, 0.9);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: #535d62;
  padding: 0px 20px;
  height: 56px;
  width: 150px;
  display: inline-block;
  border-bottom: none; }

.hw-combo-box > input[type='text']:not(.browser-default):focus:not([readonly]) {
  transition: background-color 0.2s ease;
  background-color: #d4e0e2;
  border-bottom: none;
  box-shadow: none; }

.hw-combo-box > input[type='text']:not(:placeholder-shown):not(.browser-default):not([readonly]) {
  background-color: #d4e0e2; }

.hw-combo-box input[type='text']::placeholder {
  color: #535d62; }

.hw-combo-box .select-wrapper {
  display: inline-block; }

.hw-combo-box .select-wrapper input.select-dropdown {
  border-bottom: none; }

.hw-combo-box .select-wrapper input.select-dropdown:focus {
  border-bottom: none; }

.hw-combo-box .select-wrapper .select-dropdown.dropdown-trigger {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  width: 100px;
  height: 56px; }

.hw-combo-box .select-wrapper .caret {
  z-index: 1;
  bottom: 9px; }

.hw-combo-box .btn {
  height: 56px;
  background-color: #275aa8;
  border-radius: 0 8px 8px 0;
  display: inline-block;
  margin-top: -4px; }

.hw-combo-box .btn i {
  padding-top: 5px; }

@media only screen and (min-width: 992px) {
  .hw-combo-box > input[type='text'] {
    width: 300px; }
  .hw-combo-box .select-wrapper .select-dropdown.dropdown-trigger {
    width: 161px; } }

.hw-factoid {
  padding: 24px;
  margin: 0px; }
  .hw-factoid.factoid-green {
    background-color: #B5DE92; }
  .hw-factoid .factoid-text {
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: 0px; }
  .hw-factoid .factoid-link {
    color: #13598E; }

.hw-signup {
  background-color: #F1F4F5;
  padding: 38px 20px 80px 20px; }
  .hw-signup .signup-title {
    font-size: 36px;
    color: #141C20; }
  .hw-signup .signup-text {
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 18px;
    color: #141C20; }
  .hw-signup .hw-combo-box input {
    background-color: #FFFFFF; }

.hw-nav {
  background-color: #ffffff;
  width: auto;
  height: auto;
  line-height: auto !important;
  /* fonts */
  /* colors */
  /* ------ */
  /* togle menu button for narrow screens */
  /* general navigation background colors */
  /* general navigation link font color */
  /* first level items borders */
  /* first level items borders */
  /* navigation hover colors */
  /* navigation hover colors */
  /* second level navigation colors */
  /* second level navigation colors */
  /* second level navigation colors */
  /* third level navigation colors */
  /* navigation hover colors */
  /* ---------------- */
  /*      layout      */
  /* -----------------*/
  /* main div */
  /* small screens menu button */
  /* second and third level menus */
  /* general paddings and other stuff */
  /* parents that have submenus */
  /* small screen adjustments*/ }
  .hw-nav .dropdowns {
    font-family: 'Prompt', sans-serif; }
  .hw-nav .toggleMenu {
    background: #ffffff;
    color: #000000; }
  .hw-nav .hw-nav {
    background: #ffffff; }
  .hw-nav .hw-nav a {
    color: #666; }
  .hw-nav .hw-nav > li {
    background-color: #ffffff;
    padding: 0px 0px 0px 0px; }
  .hw-nav .hw-nav > li:hover {
    background-color: #F1F4F5; }
  .hw-nav .hw-nav > li:hover a {
    color: #047786; }
  .hw-nav .hw-nav a:hover {
    background-color: #E6E9EB; }
  .hw-nav .hw-nav li li a {
    background-color: #F1F4F5;
    padding: 14px 0px 14px 10px; }
  .hw-nav .hw-nav li:hover li a {
    color: #535D62; }
  .hw-nav .hw-nav li li:hover a {
    background-color: #E6E9EB;
    color: #535D62; }
  .hw-nav .hw-nav li li li a {
    background-color: #E6E9EB; }
  .hw-nav .hw-nav li li li a:hover {
    background-color: #D5DCE0; }
  .hw-nav .dropdowns {
    width: auto; }
  .hw-nav a.toggleMenu {
    padding: 10px 0;
    width: 100%;
    text-align: center; }
  .hw-nav .hw-nav ul {
    width: 9em; }
  .hw-nav .hw-nav a {
    padding: 5px 10px; }
  .hw-nav .hw-nav > li > .parent {
    padding-right: 25px;
    background-position: 90% 50%; }
  @media screen and (max-width: 768px) {
    .hw-nav .hw-nav ul {
      width: 100%; } }
  .hw-nav .dropdowns nav, .hw-nav .dropdowns ul, .hw-nav .dropdowns li, .hw-nav .dropdowns a {
    margin: 0;
    padding: 0; }
  .hw-nav .dropdowns a {
    text-decoration: none; }
  .hw-nav .toggleMenu {
    display: none; }
  .hw-nav .hw-nav {
    list-style: none;
    *zoom: 1;
    font-size: .9375rem;
    font-weight: 500; }
  .hw-nav .hw-nav:before,
  .hw-nav .hw-nav:after {
    content: " ";
    display: table; }
  .hw-nav .hw-nav:after {
    clear: both; }
  .hw-nav .hw-nav ul {
    list-style: none; }
  .hw-nav .hw-nav li {
    position: relative; }
  .hw-nav .hw-nav > li {
    float: left; }
  .hw-nav .hw-nav > li > .parent {
    background-repeat: no-repeat;
    background-position: right; }
  .hw-nav .hw-nav > li > a {
    display: block; }
  .hw-nav .hw-nav li ul {
    position: absolute;
    left: -9999px; }
  .hw-nav .hw-nav li li {
    width: 270px; }
  .hw-nav .hw-nav > li.hover > ul {
    left: 0; }
  .hw-nav .hw-nav li li.hover ul {
    left: 100%;
    top: 0; }
  .hw-nav .hw-nav li li a {
    display: block;
    position: relative;
    z-index: 100; }
  .hw-nav .hw-nav li li li a {
    z-index: 200; }
  @media screen and (max-width: 768px) {
    .hw-nav .active {
      display: block; }
    .hw-nav .hw-nav > li {
      float: none; }
    .hw-nav .hw-nav > li > .parent {
      background-position: 95% 50%; }
    .hw-nav .hw-nav li li .parent {
      background-image: url("images/body/ic_keyboard_arrow_down.png");
      background-repeat: no-repeat;
      background-position: 95% 50%; }
    .hw-nav .hw-nav ul {
      display: block;
      width: 100%; }
    .hw-nav .hw-nav > li.hover > ul, .hw-nav .hw-nav li li.hover ul {
      position: static; } }

.hw-accordion-map .collapsible li.active,
.hw-accordion-map .collapsible li.active .collapsible-header {
  transition: background-color 0.7s ease;
  background-color: #e3f3e9; }

.hw-prefooter nav#sub-navigation {
  height: auto;
  line-height: normal;
  font-weight: 500;
  background-color: #b7ebf1; }

.hw-prefooter .row {
  margin: 0px;
  justify-content: center; }

.hw-prefooter .col {
  line-height: 24px;
  justify-content: center;
  padding: 0; }

.hw-prefooter .col a {
  color: #141c20;
  padding: 24px 0px 12px 0px; }

.hw-prefooter .col i.material-icons {
  display: block; }

.hw-prefooter .prefooter-icon {
  display: block;
  margin: auto;
  width: 36px;
  height: 36px;
  margin-bottom: .2em; }

.hw-footer {
  background-color: #141C20;
  color: #ffffff;
  font-size: 14px;
  line-height: 24px; }
  .hw-footer .container {
    width: 100%; }
    .hw-footer .container .row {
      width: 90%;
      padding: 0px !important;
      margin-bottom: 0px; }
      .hw-footer .container .row a {
        color: #B6C0C4;
        font-weight: 500; }
      .hw-footer .container .row a:visited {
        color: #7E898E; }
      .hw-footer .container .row a:hover {
        color: #ffffff; }
      .hw-footer .container .row a:active {
        color: #ffffff; }
      .hw-footer .container .row a:focus {
        background-color: #535D62;
        color: #ffffff; }
      .hw-footer .container .row .copyright {
        color: #7E898E; }
      .hw-footer .container .row .footer-bold {
        font-weight: 700; }
