@import url("https://fonts.googleapis.com/css?family=Prompt:200,300,400,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Lora:200,300,400,500,600,700,800");
html {
  font-family: Prompt; }

a {
  color: #275AA8; }

.hw-header .nav {
  background-color: transparent;
  color: #000000; }

.hw-header .nav-link {
  color: #535d62; }

.hw-header .brand-logo {
  z-index: 2; }

.hw-header #nav-mobile {
  margin-right: 178px; }

.hw-header .nav-wrapper .dropdown-content {
  top: -64px; }

.hw-header .nav-wrapper .dropdown-content li {
  background-color: #f1f4f5; }

.hw-header .nav-wrapper .dropdown-content li > a {
  color: #435864; }

.hw-header .sidenav-trigger {
  color: #000000; }

.hw-nav-search form {
  width: 174px;
  margin-top: 10px;
  position: absolute;
  right: 0;
  z-index: 2; }

.hw-nav-search .input-field {
  visibility: hidden; }

@media only screen and (min-width: 992px) {
  .hw-nav-search .input-field {
    visibility: initial; } }

.hw-nav-search .input-field > input[type='search'] {
  height: 44px;
  padding-left: 1rem;
  padding-right: 2rem;
  width: calc(100% - 3.5rem); }

.hw-nav-search .input-field input[type=search]:focus:not(.browser-default) {
  background-color: #F1F4F5; }

.hw-nav-search form:focus-within {
  transition: width 0.3s;
  width: 320px; }

.hw-nav-search .input-field label {
  top: -9px; }

.hw-nav-search .material-icons,
.hw-nav-search .input-field label.active i {
  color: #535D62;
  transition: color 0.3s; }

.hw-nav-search .input-field input[type=search] ~ .material-icons {
  top: -10px;
  transition: none;
  -webkit-transition: none; }

.hw-nav-search form:focus-within .material-icons span {
  visibility: hidden; }

.hw-nav-search .input-field
input[type='search']:focus:not(.browser-default)
+ label
i {
  color: #000000; }

.hw-nav-search .input-field input[type='search'] + .label-icon {
  left: initial;
  right: 1rem; }

.hw-nav-search .input-field input[type='search'] {
  background-color: #E6E9EB; }
  .hw-nav-search .input-field input[type='search']:hover {
    background-color: #D5DCE0; }

.hw-hero {
  position: relative; }
  .hw-hero .hero-content {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px; }
    .hw-hero .hero-content h1.hero-title {
      margin-top: 2.8rem;
      font-size: 44px;
      font-weight: 600; }
    .hw-hero .hero-content .hero-text {
      margin-right: auto;
      margin-left: auto;
      width: 73%; }

.hw-combo-box > input[type='text'] {
  background-color: rgba(212, 224, 226, 0.9);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: #535d62;
  padding: 0px 20px;
  height: 56px;
  width: 150px;
  display: inline-block;
  border-bottom: none; }

.hw-combo-box > input[type='text']:not(.browser-default):focus:not([readonly]) {
  transition: background-color 0.2s ease;
  background-color: #d4e0e2;
  border-bottom: none;
  box-shadow: none; }

.hw-combo-box > input[type='text']:not(:placeholder-shown):not(.browser-default):not([readonly]) {
  background-color: #d4e0e2; }

.hw-combo-box input[type='text']::placeholder {
  color: #535d62; }

.hw-combo-box .select-wrapper {
  display: inline-block; }

.hw-combo-box .select-wrapper input.select-dropdown {
  border-bottom: none; }

.hw-combo-box .select-wrapper input.select-dropdown:focus {
  border-bottom: none; }

.hw-combo-box .select-wrapper .select-dropdown.dropdown-trigger {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  width: 100px;
  height: 56px; }

.hw-combo-box .select-wrapper .caret {
  z-index: 1;
  bottom: 9px; }

.hw-combo-box .btn {
  height: 56px;
  background-color: #275aa8;
  border-radius: 0 8px 8px 0;
  display: inline-block;
  margin-top: -4px; }

.hw-combo-box .btn i {
  padding-top: 5px; }

@media only screen and (min-width: 992px) {
  .hw-combo-box > input[type='text'] {
    width: 300px; }
  .hw-combo-box .select-wrapper .select-dropdown.dropdown-trigger {
    width: 161px; } }

.hw-factoid {
  padding: 24px;
  margin: 0px; }
  .hw-factoid.factoid-green {
    background-color: #B5DE92; }
  .hw-factoid .factoid-text {
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: 0px; }
  .hw-factoid .factoid-link {
    color: #13598E; }

.hw-signup {
  background-color: #F1F4F5;
  padding: 38px 20px 80px 20px; }
  .hw-signup .signup-title {
    font-size: 36px;
    color: #141C20; }
  .hw-signup .signup-text {
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 18px;
    color: #141C20; }
  .hw-signup .hw-combo-box input {
    background-color: #FFFFFF; }

.hw-header {
  margin: 20px 0; }

nav {
  box-shadow: none;
  -webkit-box-shadow: none; }

/* Logo */
nav .brand-logo {
  margin: 8px 0; }

.nav-wrapper {
  width: 1280px;
  margin: 10px 0px 10px 0; }

.hw-nav {
  margin-left: 330px; }

.hw-nav li > ul {
  display: none; }

.show {
  display: block; }

.hw-nav ul {
  background: #ffffff;
  padding: 0 20px;
  border-radius: 0px;
  list-style: none;
  position: relative;
  *zoom: 1;
  font-size: 0.9375rem; }

.hw-nav ul:after {
  content: '';
  clear: both;
  display: block; }

.hw-nav li {
  float: left; }

/* first level navigation styles */
.hw-nav ul li:hover {
  background: #f1f4f5; }

.hw-nav ul li:hover a {
  color: #047786; }

.hw-nav ul li a {
  display: block;
  padding: 0px 10px 0px 15px;
  color: #666;
  text-decoration: none; }

/* second level navigation styles */
.hw-nav ul ul {
  z-index: 2;
  background-color: #f1f4f5;
  border-radius: 0px;
  padding: 0;
  position: absolute;
  top: 100%; }

.hw-nav ul li:hover ul li a {
  color: #666; }

.hw-nav ul ul li {
  float: none;
  position: relative;
  width: 270px; }

.hw-nav ul ul li a {
  line-height: normal;
  padding: 14px 0px 14px 10px; }

.hw-nav ul ul li a:hover {
  background: #e6e9eb;
  color: #666; }

.hw-accordion-map .accordion .collapsible li.active,
.hw-accordion-map .accordion .collapsible li.active .collapsible-header {
  transition: background-color 0.7s ease;
  background-color: #e3f3e9; }

.hw-accordion-map .accordion .collapsible {
  border-right: 0;
  border-left: 0;
  box-shadow: none; }

.hw-accordion-map .accordion .active .collapsible-header {
  border-bottom: none; }

.hw-accordion-map .accordion .collapsible-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center; }
  .hw-accordion-map .accordion .collapsible-header div:first-child {
    color: #038072;
    font-size: 20px; }
  .hw-accordion-map .accordion .collapsible-header div:nth-child(2) {
    font-size: 16px; }

.hw-accordion-map .accordion .collapsible-body {
  padding: 0px 30px 30px 30px; }
  .hw-accordion-map .accordion .collapsible-body .icon-text {
    margin-top: 0; }
  .hw-accordion-map .accordion .collapsible-body .accordion-map-address-notes {
    color: #535d62;
    font-size: 14px; }

.hw-prefooter nav#sub-navigation {
  height: auto;
  line-height: normal;
  font-weight: 500;
  background-color: #b7ebf1; }

.hw-prefooter .row {
  margin: 0px;
  justify-content: center; }

.hw-prefooter .col {
  line-height: 24px;
  justify-content: center;
  padding: 0; }

.hw-prefooter .col a {
  color: #141c20;
  padding: 24px 0px 12px 0px; }

.hw-prefooter .col i.material-icons {
  display: block; }

.hw-prefooter .prefooter-icon {
  display: block;
  margin: auto;
  width: 36px;
  height: 36px;
  margin-bottom: .2em; }

.hw-footer {
  background-color: #141C20;
  color: #ffffff;
  font-size: 14px;
  line-height: 24px; }
  .hw-footer .container {
    width: 100%; }
    .hw-footer .container .row {
      width: 90%;
      padding: 0px !important;
      margin-bottom: 0px; }
      .hw-footer .container .row a {
        color: #B6C0C4;
        font-weight: 500; }
      .hw-footer .container .row a:visited {
        color: #7E898E; }
      .hw-footer .container .row a:hover {
        color: #ffffff; }
      .hw-footer .container .row a:active {
        color: #ffffff; }
      .hw-footer .container .row a:focus {
        background-color: #535D62;
        color: #ffffff; }
      .hw-footer .container .row .copyright {
        color: #7E898E; }
      .hw-footer .container .row .footer-bold {
        font-weight: 700; }
