<section>
        <div class="container">
          <div class="row">
            <div class="col s12 m6">
              <img
                src="https://via.placeholder.com/583/561"
                height="561"
                width="583"
                class="responsive-img"
              />
            </div>
            <div class="col s12 m6">
              <ul class="collapsible">
                <li class="hw-nav__link">
                  <div class="collapsible-header">
                    <div style="display:flex">
                      <div>North Seattle</div>
                      <div>Sunday - Tuesday</div>
                    </div>  
                    
                  </div>
                  <div class="collapsible-body">
                    <span>Lorem ipsum dolor sit amet.</span>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header">
                    South Seattle: Sunday -
                    Tuesday
                  </div>
                  <div class="collapsible-body">
                    <span>Lorem ipsum dolor sit amet.</span>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header">
                    Factoria: Sunday -
                    Tuesday
                  </div>
                  <div class="collapsible-body">
                    <span>Lorem ipsum dolor sit amet.</span>
                  </div>
                </li>
                <li class="active">
                  <div class="collapsible-header">
                    Auburn Wastemobile:
                    Sunday - Tuesday
                  </div>
                  <div class="collapsible-body">
                    <span
                      >1101 Outlet Collection Dr. SW Saturday - Sunday 10:00am -
                      5:00pm Marine Flares not accepted at this location. Auburn
                      Wastemobile closed Nov 24-25, Dec 29-30, 2018</span
                    >
                  </div>
                </li>
              </ul>
              <p><a href="#">Wastemobile traveling schedule</a></p>
              <p>
                No fee for hazardous waste disposal. Please see
                <a href="#">waste limits and restrictions.</a> Closed on July 4,
                Thanksgiving Day, Christmas Day and New Years Day. Check Auburn
                Wastemobile for closures.
              </p>
            </div>
          </div>
        </div>
      </section>