<section class="hw-accordion-map">
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <img
          src="https://via.placeholder.com/583/561"
          height="561"
          width="583"
          class="responsive-img"
        />
      </div>
      <div class="col s12 m6 accordion">
        <ul class="collapsible">
          <li class="active">
            <div class="collapsible-header">
                <div>North Seattle</div>
                <div>Sunday - Tuesday</div>
            </div>
            <div class="collapsible-body" >
              <div class="right center-align">
                <i class="material-icons small">location_on</i>
                <p class="icon-text">Directions</p>
              </div>
              <div class="accordion-map-address">
                <p>1101 Outlet Collection Dr. SW<br/>
                Saturday - Sunday  10:00am - 5:00pm</p>
                <p class="accordion-map-address-notes">Marine Flares not accepted at this location.<br/>
                Auburn Wastemobile closed Nov 24-25, Dec 29-30, 2018</p>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header">
              <div>South Seattle</div>
              <div>Sunday - Tuesday</div>
            </div>
            <div class="collapsible-body">
               <div class="right center-align">
                <i class="material-icons small">location_on</i>
                <p class="icon-text">Directions</p>
              </div>
              <div class="accordion-map-address">
                <p>1101 Outlet Collection Dr. SW<br/>
                Saturday - Sunday  10:00am - 5:00pm</p>
                <p class="accordion-map-address-notes">Marine Flares not accepted at this location.<br/>
                Auburn Wastemobile closed Nov 24-25, Dec 29-30, 2018</p>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header">
              <div>Factoria</div>
              <div>Sunday - Tuesday</div>
            </div>
            <div class="collapsible-body">
               <div class="right center-align">
                <i class="material-icons small">location_on</i>
                <p class="icon-text">Directions</p>
              </div>
              <div class="accordion-map-address">
                <p>1101 Outlet Collection Dr. SW<br/>
                Saturday - Sunday  10:00am - 5:00pm</p>
                <p class="accordion-map-address-notes">Marine Flares not accepted at this location.<br/>
                Auburn Wastemobile closed Nov 24-25, Dec 29-30, 2018</p>
              </div>
            </div>
          </li>
          <li >
            <div class="collapsible-header">
              <div>Auburn Wastemobile</div>
              <div>Sunday - Tuesday</div>
            </div>
            <div class="collapsible-body">
               <div class="right center-align">
                <i class="material-icons small">location_on</i>
                <p class="icon-text">Directions</p>
              </div>
              <div class="accordion-map-address">
                <p>1101 Outlet Collection Dr. SW<br/>
                Saturday - Sunday  10:00am - 5:00pm</p>
                <p class="accordion-map-address-notes">Marine Flares not accepted at this location.<br/>
                Auburn Wastemobile closed Nov 24-25, Dec 29-30, 2018</p>
              </div>
            </div>
          </li>
        </ul>
        <br/>

        <p><a href="#">Wastemobile traveling schedule</a></p>
        <p>
          No fee for hazardous waste disposal. Please see
          <a href="#">waste limits and restrictions.</a> Closed on July 4,
          Thanksgiving Day, Christmas Day and New Years Day. Check Auburn
          Wastemobile for closures.
        </p>
      </div>
    </div>
  </div>
</section>
