      <section>
        <div class="container" style="margin-top: 60px; margin-bottom: 60px">
          <div class="row valign-wrapper">
            <div class="col s12 m4 center">
              <i class="material-icons medium" style="color:#9ECC64">warning</i>
              <p>Don’t mix or combine products.</p>
            </div>
            <div class="col s12 m4 center">
              <i class="material-icons medium" style="color:#24A893">details</i>
              <p>Keep products in their original containers whenever possible.</p>
            </div>
            <div class="col s12 m4 center">
              <i class="material-icons medium" style="color:#24A893">details</i>
              <p>Label products that are not marked.</p>
            </div>
          </div>
          <div class="row valign-wrapper">
            <div class="col s12 m4 center">
              <i class="material-icons medium" style="color:#9ECC64">warning</i>
              <p>Secure products so they won’t tip or leak.</p>
            </div>
            <div class="col s12 m4 center">
              <i class="material-icons medium" style="color:#24A893">details</i>
              <p>Cover and tie down your load. Please stay in 
your vehicle while unloading at the Auburn Wastemobile or traveling Wastemobile.</p>
            </div>
            <div class="col s12 m4 center">
              <i class="material-icons medium" style="color:#24A893">details</i>
              <p>Don’t transport products in the passenger compartment of your vehicle.</p>
            </div>
          </div>
        </div>
      </section>