      <section>
        <div class="container hw-safety-tips" style="margin-top: 60px; margin-bottom: 60px">
        <div class="row valign-wrapper"><h3>Safety tips for transporting your hazardous waste</h3>
        </div>
          <div class="row valign-wrapper">
            <div class="col s12 s4 left">
              <div class="promo"><i class="material-icons medium" style="color:#047786">battery_std</i>
              <p>Don’t mix or combine products.</p>
              </div>
            </div>
            <div class="col s12 s4 left">
              <i class="material-icons medium" style="color:#047786">delete</i>
              <p>Keep products in their original containers whenever possible.</p>
            </div>
            <div class="col s12 s4 left">
              <i class="material-icons medium" style="color:#047786">mode_edit</i>
              <p>Label products that are not marked.</p>
            </div>
          </div>
          <div class="row valign-wrapper">
            <div class="col s12 s4 left">
              <i class="material-icons medium" style="color:#047786">lock_outline</i>
              <p>Secure products so they won’t tip or leak.</p>
            </div>
            <div class="col s12 s4 left">
              <i class="material-icons medium" style="color:#047786">local_shipping</i>
              <p>Cover and tie down your load. Please stay in 
your vehicle while unloading at the Auburn Wastemobile or traveling Wastemobile.</p>
            </div>
            <div class="col s12 s4 left">
              <i class="material-icons medium" style="color:#047786">drive_eta</i>
              <p>Don’t transport products in the passenger compartment of your vehicle.</p>
            </div>
          </div>
        </div>
      </section>