      <section class="hw-cards">
        <div class="container cards-container" >
          <div class="row">

            <div class="cards col s12 m6 center">
              <div class="cards-icon">
                <i class="material-icons medium cards-icon-green">warning</i>
              </div>
              <div class="cards-text">
                <p>Ditch the dust. Lose the lead</p>
              </div>
              <div class="cards-cta">
              <p><a href="#">Sign up for free in-home lead screening</a></p>
              </div>
            </div>

            <div class="cards col s12 m6 center">
              <div class="cards-icon">
                <i class="material-icons medium cards-icon-blue">details</i>
              </div>
              <div class="cards-text">
              <p>FREE waste disposal for qualifying small businesses</p>
              </div>
              <div class="cards-cta">
                <p><a href="#">Find out if your business qualifies</a></p>
              </div>
            </div>
          </div>
        </div>
      </section>