  <div class="carousel">
   
    <div class="carousel-item" href="#one!">
      <p>Oct 12 - 14</p>
      <p>Renton</br>
        McLoendon's Hardware</br>
        440 Rainer Ave
      </p>
    </div>
    <div class="carousel-item" href="#two!"><p>Oct 19 - 21</p>
      <p>Bothell</br>
        Seattle Times</br>
        19200 120th Ave NE
      </p></div>
    <div class="carousel-item" href="#three!"><p>Oct 12 - 14</p>
      <p>Closed for season</br>
        Check back in December for the 2019 schedule
      </p></div>
    <div class="carousel-item" href="#four!"><p>Nov 30 - 31</p>
      <p>Another event</br>
        Address</br>
        Goes here
      </p></div>
    <div class="carousel-item" href="#five!"><p>Dec 1 - 15</p>
      <p>One more event</br>
        Address</br>
        Goes here
      </p></div>
      
  </div>
   <div id="prev">prev</div>
    <div id="next">next</div>
