<div class="hw-combo-box center-align">
      <input type="text" placeholder="Search waste material" /><select>
        <option value="" selected>Household</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option> </select
      ><button
        class="btn waves-effect waves-light"
        type="submit"
        name="action"
      >
        <i class="material-icons">search</i>
      </button>
    </div>