<aside class="center hw-factoid factoid-green">
  <p class="factoid-text">In 2016 we kept <strong>1,467</strong> tons of hazardous waste out of the environment</p>
    <a class="factoid-link" href="#">SEE OUR IMPACT</a>
</aside>