

<section class="center" style="background-color:#B5DE92; padding:25px">
        <p style="font-size: 24px; margin-bottom: 15px;">
          In 2016 we kept <strong>1,467</strong> tons of hazardous waste out of
          the environment
        </p>
        <p style="margin-top:0">
          <a href="#" style="color:#13598E">SEE OUR IMPACT</a>
        </p>
      </section>