<aside class="center factoid greenish">
  <p class="call">
    In 2016 we kept <strong>1,467</strong> tons of hazardous waste out of
    the environment
  </p>
  <p class="link">
    <a href="#">SEE OUR IMPACT</a>
  </p>
</aside>