<aside class="center hw-factoid">
  <div class="greenish">
    <p class="call">
      In 2016 we kept <strong>1,467<h/strong> tons of hazardous waste out of the environment </p> <p class="link">
          <a href="#">SEE OUR IMPACT</a>
    </p>
  </div>
</aside>