<footer class="hw-footer page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12 m3">

        <p><img src="/king-county.gif" class="responsive-img"></p>

        <div style="display: flex;">
          <p style="align-self: flex-end;">
            <script type="text/javascript">
              document.write('\<a href="https://kingcounty.gov/about/website/termsofuse"> &copy; King County, WA ' + new Date().getFullYear() + '\</a>')
            </script>
          </p>
        </div>

      </div>
      <div class="col s12 m3">
        <p>
          as part of the <br />
          <strong>Local Hazardous Waste Management Program in King
            County</strong>
        </p>
        <p>130 Nickerson St.<br />
          Suite 100<br />
          Seattle WA 98101</p>
      </div>

      <div class="col s12 m3">
        <p>Contact Us</p>
        <p>Site Map</p>
        <p>Terms of Service</p>
        <p>Member Login</p>
        <p>Toolkit</p>
      </div>
      <div class="col s12 m3">
        <p>Household Hazards Line<br />
          206-296-4692</p>
        <p>Business Waste Line<br />
          206-296-4692</p>
        <p><i class="material-icons">widgets</i>&nbsp;<i class="material-icons">whatshot</i></p>
      </div>
    </div>
  </div>
</footer>