<footer class="hw-footer page-footer">
  <div class="container">
    <div class="row">
      <div class="col s6 m3 l2">
        <p><img src="images/king-county.svg" class="responsive-img"></p>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6 l3">
        <p>as part of the<br />
          <strong class="footer-bold">Hazardous Waste Management Program in King
            County</strong>
        </p>
      </div>
      <div class="col s12 m6 l3">
        <p>130 Nickerson St. Suite 100<br />
          Seattle WA 98101</p>
      </div>
      <div class="col s12 m6 l3">
        <p>Hazardous Waste Line<br />
          <strong class="footer-bold">206-296-4692</strong></p>
      </div>
      <div class="col s12 m6 l3">
        <ul>
          <li><a href="#"><img src="images/icons/instagram-icon.svg" alt="Instagram"></a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Terms of Service</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <p class="copyright">
          <script type="text/javascript">
            document.write('\<a href="https://kingcounty.gov/about/website/termsofuse" class="copyright"> &copy; King County, WA ' + new Date().getFullYear() + '\</a>')
          </script>
        </p>
      </div>
    </div>
  </div>
</footer>