<header class="hw-header">

  <nav class="nav nav-extended">
  <div class="container">
    <div class="hw-nav-wrapper">
      <a href="#" class="nav-logo"
        ><img
          src="images/body/Logo.svg"
          class="responsive-img"
          width="268"
          height="48"
      /></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"
        ><i class="material-icons">menu</i></a
      >

      <% include global-search %>
      <% include nav %>
   
    </div>
  </div>
</nav>
</header>