<header class="hw-header">
<<<<<<< HEAD

  <nav class="nav nav-extended">
  <div class="hw-container">
    <div class="nav-wrapper">
      <a href="#" class="left brand-logo">
      <img src="images/body/Logo.svg" class="responsive-desktop" width="268" height="48"/>
      <img src="images/body/HWMP-brandMark.svg" class="responsive-mobile" width="40" height="40"/>
      </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"
        ><i class="material-icons">menu</i></a
      >

      <% include global-search %>
      <% include nav2 %>
   
=======
  <nav class="nav nav-extended">
    <div class="container">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo"><img src="images/hazwaste-logo.png" class="responsive-img nav-logo" width="268"
            height="48" /></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <% include global-search %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <a class="dropdown-trigger nav-link" href="#!" data-target="dropdown1">Households<i
                class="material-icons right">arrow_drop_down</i></a>
          </li>
          <li>
            <a class="dropdown-trigger nav-link" href="#!" data-target="dropdown2">Businesses<i
                class="material-icons right">arrow_drop_down</i></a>
          </li>
          <li class="right"><a class="nav-link waves-effect waves-light" href="#">News & Events</a></li>
          <li class="right"><a class="nav-link waves-effect waves-light" href="#">Languages Resources</a></li>
          <li class="right"><a class="nav-link waves-effect waves-light" href="#">Customer Service</a></li>
        </ul>
      </div>
>>>>>>> 98cb889a50b89e87d1a8de18ab13b6052e71956d
    </div>
  </nav>
  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Find hazardous waste products</a></li>
    <li><a href="#!">Dispoal options</a></li>
    <li><a href="#!">Safer home products</a></li>
    <li><a href="#!">Home collection</a></li>
    <li><a href="#!">Incentives & home inspections</a></li>
  </ul>
  <ul id="dropdown2" class="dropdown-content">
    <li><a href="#!">Dispose hazardous waste</a></li>
    <li><a href="#!">How to choose safer products</a></li>
    <li><a href="#!">Consultation</a></li>
  </ul>
</header>