
        
<header class="hw-header">
  <nav class="nav">
    <div class="hw-container">
      <div class="nav-wrapper">
        <a href="#" class="left brand-logo">
          <img src="./images/Logo.svg" class="responsive-desktop" width="268" height="48"/>
          <img src="./images/body/HWMP-brandMark.svg" class="responsive-mobile" width="40" height="40"/>
        </a>
        <a href="#" data-target="mobile-nav" class="sidenav-trigger"
          >
          <i class="material-icons">menu</i>
        </a
        >
        <% include global-search %>
        <% include nav.1.ejs %>
      </div>
    </div>
  </nav>
  <% include sidenav%>
</header>