<section class="hw-hero">
  <div class="parallax-container">
    <div class="parallax">
      <img src="<%= image%>" />
    </div>
  </div>
  <div class="container center hero-content white-text">
    <h1 class="hero-title ">
      <%= title%>
    </h1>
    <div class="hero-text">
      <% include combo-box%>
    </div>
  </div>
</section>