<section class="hw-hero">
  <div class="parallax-container">
    <div class="parallax">
      <img src="./parallax1.jpg" />
    </div>
  </div>
  <div class="container center hero-content">
    <h1>
      <%= title%>
      <%- content%>
    </h1>
  </div>
</section>