<section class="hw-split">
    <div class="container split-container">
        <div class="row">
            <div class="split col s12 m6">
                <div class="split-icon">
                    <i class="material-icons medium split-icon-green">Yes</i>
                </div>
                <div class="split-text-yes">
                    <h2>What to bring</h2>
                    <p>Limit 50 gallons per customer per day. No containers larger than 5 gallons. For larger quantities
                        or unusual wastes, call the Household Hazards Line, Mon–Fri, 9:00am–4:30pm 206-296-4692 or toll
                        free at 1-888-869-4233.</p>
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h4><strong>Do</strong> bring</h4>
                        </li>
                        <li class="collection-item"><a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/67">Alkaline
                                batteries <i class="material-icons">keyboard_arrow_right</i></a></li>
                        <li class="collection-item"><a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/2">Aerosol cans <i
                                    class="material-icons">keyboard_arrow_right</i></a>
                            <div class="split-description">If not empty</div>
                        </li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/10">Antifreeze <i
                                    class="material-icons">keyboard_arrow_right</i></a>
                        </li>
                        <li class="collection-item">
                            Automobile products
                            <div class="split-description">Antifreeze, Brake fluid, Gasoline, Oil filters. Do not mix
                                motor oil with other oil or automotive fluids</div>
                        </li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/15">Automobile
                                batteries <i class="material-icons">keyboard_arrow_right</i></a>
                            <div class="split-description">Limit 5 car
                                batteries</div>
                        </li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper" href="https://apps.lhwmp.org/GetRidOfIt/#/67">
                                Batteries, household <i class="material-icons">keyboard_arrow_right</i></a>
                            <div class="split-description">Alkaline and
                                rechargable</div>
                        </li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/22">Butane tanks <i
                                    class="material-icons">keyboard_arrow_right</i></a>
                        </li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/43">Fire
                                extinguishers <i class="material-icons">keyboard_arrow_right</i></a>
                            <div class="split-description">Old or
                                partially used</div>
                        </li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/46">Flares, marine <i
                                    class="material-icons">keyboard_arrow_right</i></a>
                            <div class="split-description">Limit 10, not accepted at Auburn Wastemobile or traveling
                                Wastemobile</div>
                        </li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/46">Flares, roadside <i
                                    class="material-icons">keyboard_arrow_right</i></a></li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/49">Fluorescent
                                lights <i class="material-icons">keyboard_arrow_right</i></a>
                            <div class="split-description">Tubes and bulbs, limit 10 total</div>
                        </li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/56">Furniture stain
                                <i class="material-icons">keyboard_arrow_right</i></a></li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/57">Gasoline <i
                                    class="material-icons">keyboard_arrow_right</i></a>
                            <div class="split-description">Limit 30 gallons (limit 25 gallons for businesses)</div>
                        </li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper" href="https://apps.lhwmp.org/GetRidOfIt/">Glue,
                                Contact cement, Rubber cement <i class="material-icons">keyboard_arrow_right</i></a>
                        </li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/5">Household
                                cleaners <i class="material-icons">keyboard_arrow_right</i></a></li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/64">Hobby
                                chemicals <i class="material-icons">keyboard_arrow_right</i></a></li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/71">Lawn and garden
                                pesticides <i class="material-icons">keyboard_arrow_right</i></a></li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/118">Mercury-containing <i
                                    class="material-icons">keyboard_arrow_right</i></a>
                            <div class="split-description">Thermometers, Thermostats</div>
                        </li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/89">Motor oil <i
                                    class="material-icons">keyboard_arrow_right</i></a>
                        </li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/93">Oil-based
                                paint <i class="material-icons">keyboard_arrow_right</i></a></li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/96">Pesticides <i
                                    class="material-icons">keyboard_arrow_right</i></a>
                        </li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/22">Propane tanks <i
                                    class="material-icons">keyboard_arrow_right</i></a>
                        </li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/116">Spray paint <i
                                    class="material-icons">keyboard_arrow_right</i></a>
                        </li>
                        <li class="collection-item">
                            Swimming pool and spa supplies </li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/100">Thinners and other solvents <i
                                    class="material-icons">keyboard_arrow_right</i></a></li>
                    </ul>
                </div>
            </div>
            <div class="split col s12 m6">
                <div class="split-icon">
                    <i class="material-icons medium split-icon-red">No</i>
                </div>
                <div class="split-text-no">
                    <h2>What not to bring</h2>
                    <p>For containers of household hazardous waste over 5 gallons, or for safe disposal options of the
                        wastes listed below, call 206-296-4692 or 1-888-869-4233.</p>
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h4><strong>Don't</strong> bring</h4>
                        </li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/2">Aerosol
                                cans, empty <i class="material-icons">keyboard_arrow_right</i></a>
                        </li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/14">Asbestos <i
                                    class="material-icons">keyboard_arrow_right</i></a></li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/7">Bullets,
                                Ammunition, Gunpowder <i class="material-icons">keyboard_arrow_right</i></a></li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/35">Cooking Oil <i
                                    class="material-icons">keyboard_arrow_right</i></a>
                        </li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/32">Computers <i
                                    class="material-icons">keyboard_arrow_right</i></a>
                        </li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/31">Computer
                                Monitors <i class="material-icons">keyboard_arrow_right</i></a></li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/34">Contaminated
                                Soil <i class="material-icons">keyboard_arrow_right</i></a></li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/95">Electronics <i
                                    class="material-icons">keyboard_arrow_right</i></a>
                        </li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/37">Empty
                                containers <i class="material-icons">keyboard_arrow_right</i></a></li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/41">Explosives <i
                                    class="material-icons">keyboard_arrow_right</i></a>
                        </li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/45">Fireworks <i
                                    class="material-icons">keyboard_arrow_right</i></a>
                        </li>
                        <li class="collection-item">
                            Garbage</li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/70">Latex paint <i
                                    class="material-icons">keyboard_arrow_right</i></a>
                        </li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/61">Light bulbs <i
                                    class="material-icons">keyboard_arrow_right</i></a>
                            <div class="split-description">Halogen or incandescent</div>
                        </li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/81">Medicines <i
                                    class="material-icons">keyboard_arrow_right</i></a>
                        </li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/112">Medical sharps,
                                Needles and Syringes <i class="material-icons">keyboard_arrow_right</i></a>
                        </li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/18">Medical Waste (biomedical waste) <i
                                    class="material-icons">keyboard_arrow_right</i></a></li>
                        <li class="collection-item">
                            Paint Brushes</li>
                        <li class="collection-item">
                            Paint cans, empty</li>
                        <li class="collection-item">
                            Radioactive Wastes</li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/114">Smoke
                                Detectors <i class="material-icons">keyboard_arrow_right</i></a></li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/117">Televisions <i
                                    class="material-icons">keyboard_arrow_right</i></a>
                        </li>
                        <li class="collection-item">
                            <a class="secondary-content valign-wrapper"
                                href="https://apps.lhwmp.org/GetRidOfIt/#/120">Tires <i
                                    class="material-icons">keyboard_arrow_right</i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>