<div class="hw-nav">
   <div class="dropdowns">
  
          
    <ul class="hw-nav" >
          <li class="test">
            <a href="#"
              >Households <i class="material-icons right">arrow_drop_down</i></a
            >
            <ul>
              <li><a href="#">Find hazardous waste products</a></li>
              <li><a href="#">Disposal options</a></li>
              <li><a href="#">Safer home products</a></li>
              <li><a href="#">Home collection</a></li>
              <li><a href="#">Incentives & home inspections</a></li>
            </ul>
          </li>
          <li>
            <a href="#"
              >Businesses
              <img alt="" src="images/body/ic_keyboard_arrow_down.png"
            /></a>
            <ul>
              <li><a href="#">Hazardous waste product library</a></li>
              <li><a href="#">Dispose hazardous waste</a></li>
              <li><a href="#">Produce less hazardous waste</a></li>
              <li><a href="#">Business incentives & grants</a></li>
              <li><a href="#">Consultation</a></li>
              <li><a href="#">IMEX</a></li>
            </ul>
          </li>
          <li><a href="#">News & Events</a></li>
          <li><a href="#">Language Resources</a></li>
          <li><a href="#">Customer Service</a></li>
        </ul>
		
      </div>
      </div>
