<div class="hw-nav">
  <ul class="right hide-on-med-and-down">
    <li class="dropdown"><a href="#" class="waves-effect waves-light">Households <i class="material-icons right">expand_more</i></a>
      <ul class="is-open">
        <li class="has-sub-menu"><a href="#">Find hazardous waste products <i class="material-icons">keyboard_arrow_right</i></a>
          <ul class="sub-menu">
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
        </li>
        <li><a href="#">Disposal options</a></li>
        <li><a href="#">Safer home products</a></li>
        <li><a href="#">Home collection</a></li>
        <li><a href="#">Incentives & home inspections</a></li>
      </ul>
    </li>
    <li class="dropdown"><a class="waves-effect waves-light" href="#">Businesses <i class="material-icons right">expand_more</i></a>
      <ul class="is-open">
        <li><a href="#">Hazardous waste product library</a></li>
        <li><a href="#">Dispose hazardous waste</a></li>
        <li><a href="#">Produce less hazardous waste</a></li>
        <li><a href="#">Business incentives & grants</a></li>
        <li><a href="#">Consultation</a></li>
        <li><a href="#">IMEX</a></li>
      </ul>
    </li>
    <li class="waves-effect waves-light"><a href="#">News & Events</a></li>
    <li class="waves-effect waves-light"><a href="#">Languages</a></li>
    <li class="waves-effect waves-light"><a href="#">Customer Service</a></li>
  </ul>
</div>

