<section class="hw-prefooter">
        <ul class="center">
          <li>
            <a href="#"
              ><i class="material-icons medium">donut_large</i> About us</a
            >
          </li>
          <li>
            <a href="#"
              ><i class="material-icons medium">donut_large</i>
              Accountability</a
            >
          </li>
          <li>
            <a href="#"
              ><i class="material-icons medium">donut_large</i> Research</a
            >
          </li>
          <li>
            <a href="#"
              ><i class="material-icons medium">donut_large</i> Policy &
              Advocacy</a
            >
          </li>
          <li>
            <a href="#"
              ><i class="material-icons medium">donut_large</i> Toolkit</a
            >
          </li>
          <li>
            <a href="#"
              ><i class="material-icons medium">donut_large</i> Careers</a
            >
          </li>
        </ul>
      </section>