<section class="hw-prefooter">
  <div class="container">
    <div class="row center">
      <div class="col s6 m4 l2">
        <a href="#"><i class="material-icons medium">donut_large</i> About us</a>
      </div>
      <div class="col s6 m4 l2">
        <a href="#"><i class="material-icons medium">donut_large</i>
          Accountability</a>
      </div>
      <div class="col s6 m4 l2">
        <a href="#"><i class="material-icons medium">donut_large</i> Research</a>
      </div>
      <div class="col s6 m4 l2">
        <a href="#"><i class="material-icons medium">donut_large</i> Policy &
          Advocacy</a>
      </div>
      <div class="col s6 m4 l2">
        <a href="#"><i class="material-icons medium">donut_large</i> Toolkit</a>
      </div>
      <div class="col s6 m4 l2">
        <a href="#"><i class="material-icons medium">donut_large</i> Careers</a>
      </div>
    </div>
  </div>
</section>