  <ul class="sidenav hw-sidenav" id="mobile-nav">
    <li>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header">Households <i class="material-icons right">expand_more</i></div>
          <div class="collapsible-body">
            <div><a href="#">Find hazardouse waste products</a></div>
            <div><a href="#">Disposal options</a></div>
            <div><a href="#">Safer home products</a></div>
            <div><a href="#">Home collection</a></div>
            <div><a href="#">Incentives & home inspections</a></div>
          </div>
        </li>
      </ul>
    </li>
    <li><a href="#"></a></li>
    <li><a href="#">Business <i class="material-icons right">expand_more</i></a></li>
    <li><a href="#">News & Events</a></li>
    <li><a href="#">Language Resources</a></li>
    <li><a href="#">Customer Service</a></li>
  </ul>