<section class="center hw-signup">
  <h1 class="signup-title">Stay connected</h1>
  <p class="signup-text">
    Sign up for our latest news and information about when the Wastemobile
    will be in your neightborhood.
  </p>
  <div class="hw-combo-box center-align">
    <input type="text" placeholder="Enter your email address" /><button class="btn waves-effect waves-light" type="submit"
      name="action">
      Sign up
    </button>
  </div>
</section>