<section>
<div style="background-color:#88D9E3">
    <div class="row">
      
        <div class="col s6">

        <div class="container">
          <h2>Traveling Wastemobile</h2>
          <p>2018 Schedule</p>
          <p>Friday - Sunday 10:00am - 5:00pm</p>
          <p>There is no fee for hazardous waste disposal. Please check this list of accepted items and restrictions. Marine flares are not accepted at the Wastemobile. </p>
          <p>Gas canisters are not returned to customers at the Wastemobile.</p>
          <div>
            <p>Sign up for our latest news and information about when the Wastemobile will be in your neighborhood.</p>
            <p>inputbox goes here</p>
          </div>
          </div>
        </div>
    
      <div class="col s6">
        <img src="./images/wastemobile-graphic.png" style="width:100%"/>
      </div>
        </div>
   
  </div>
</section>  
  <!--
  <div class="carousel">

   
    <div class="carousel-item" href="#one!">
      <p>Oct 12 - 14</p>
      <p>Renton</br>
        McLoendon's Hardware</br>
        440 Rainer Ave
      </p>
    </div>
    <div class="carousel-item" href="#two!"><p>Oct 19 - 21</p>
      <p>Bothell</br>
        Seattle Times</br>
        19200 120th Ave NE
      </p></div>
    <div class="carousel-item" href="#three!"><p>Oct 12 - 14</p>
      <p>Closed for season</br>
        Check back in December for the 2019 schedule
      </p></div>
    <div class="carousel-item" href="#four!"><p>Nov 30 - 31</p>
      <p>Another event</br>
        Address</br>
        Goes here
      </p></div>
    <div class="carousel-item" href="#five!"><p>Dec 1 - 15</p>
      <p>One more event</br>
        Address</br>
        Goes here
      </p></div>
      
  </div>
   <div id="prev">prev</div>
    <div id="next">next</div>
-->