<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Hazardous Waste Program</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <% include components/header %>
    <main>
      <%- include('components/hero', {title:"How to dispose of household hazardous waste", content:'<p>If you live in King County, you can take your household hazardous waste to any of our four collection sites or to the traveling Wastemobile. You don’t need to make an appointment, and there’s no fee for this service.<p>'}); %>
    </main>
    <% include components/footer %>
    <script src="./index.js"></script>
  </body>
</html>
