<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Hazardous Waste Program</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <% include components/header %>
    <main>
  
      <%- include('components/hero', {title:"How to dispose of household hazardous waste?", content:"<h1>Testing</h1>"}); %>
<% include components/cards-safety-tip %>
    </main>
    <% include components/footer %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="index.js"></script>
  </body>
</html>
=======

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Hazardous Waste Program</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="./style.css" />
</head>

<body>
  <% include components/header %>
  <main>
    <%- include('components/hero', {title:"How to dispose of household hazardous waste", content:'<p>If you live in King County, you can take your household hazardous waste to any of our four collection sites or to the traveling Wastemobile. You don’t need to make an appointment, and there’s no fee for this service.<p>', image:'/images/Household-page-hero.png'}); %>
    <%- include('components/factoid', {text: "Factoid or metric goes here", linkurl:'https://www.kingcounty.gov', linktext:'Link to dashboard'}); %>
    <% include components/household-disposal-what-to-bring %>
    <% include components/prefooter %>
  </main>
  <% include components/footer %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="index.js"></script>
</body>

</html>
>>>>>>> 98cb889a50b89e87d1a8de18ab13b6052e71956d
