<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Hazardous Waste Program</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="./style.css" />
</head>

<body>
  <% include components/header %>
  <main>
    <%- include('components/hero', {title:"HOW DO I GET RID OF HAZARDOUS WASTE?", content:'<p>Other content goes here</p>'}); %>
    <% include components/factoid %>
    <% include components/cards %>
    <% include components/accordion-map %>
    <% include components/signup %>
    <% include components/prefooter %>
  </main>
  <% include components/footer %>
  <script src="./index.js"></script>
</body>

</html>