<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Hazardous Waste Program</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="./style.css" />
</head>

<body>
  <% include components/header %>
  <main>
    <%- include('components/hero', {title:"HOW DO I GET RID OF HAZARDOUS WASTE?", content:'<p>If you live in King County, you can take your household hazardous waste to any of our four collection sites or to the traveling Wastemobile. You don’t need to make an appointment, and there’s no fee for this service.<p>', image:'/images/body/Header2.jpg'}); %>
    <%- include('components/factoid', {text: " In 2016 we kept <strong>1,467</strong> tons of hazardous waste out of the environment", linkurl:'https://www.kingcounty.gov', linktext:'SEE OUR IMPACT'}); %>
    <% include components/cards %>
    <% include components/accordion-map %>
    <% include components/signup %>
    <% include components/prefooter %>
  </main>
  <% include components/footer %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="./index.js"></script>
</body>

</html>